
.nav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 0;
    
}
.nav.active{
    background: #fff;
    padding: 15px;
}
.logo{
    font-size: 30px;
}
.menu li a{
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    
}
.menu li{
    list-style: none;
}
body{
    background-color:  white;
    
}
h1{
   text-align: center;
   padding-top: 50px;
}
.cajamarron{
    display: flex;
    justify-content: center;
    
}  
.img{
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0 #000;
}
h2{
    text-align: center
    
}
h3{
    text-align: center;
    font-family: sans-serif;
}
.lola{
    font-style: italic;
     text-align: center;
     font-family: sans-serif;
     background-color: aqua;
     padding: 10px;
     margin-left:  500px;
     margin-right: 500px;
     border-radius: 10px;
     color: #000;
}
